body{
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
    
}
h1{
    font-size: 30px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width:50%;
    margin: auto 10px;
}
.half-width img{
    width:75%;
    padding-left: 5%;
    height:450px;
    margin: 20px auto;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, salmon);
    color: white;
    padding: 10px;
    border-radius: 20px;
}
.about-me-bg{
    background-image: url(images/7.png);
}
.my-recipes{
    text-align: center;
    margin: 0 auto;
    width:60%
}
.one-third-width{
    width: 33.33%;
    height: 450px;
    padding: 50px;
    box-shadow: 20px 20px 40px rgba(206, 197, 197, 0.856);
    border-radius: 20px;
}
.one-third-width img{
    display:table;
    width: 100%;
}
footer{
    background-color: black;
    text-align: center;
    height: 150px;
    padding-top:50px
    
}
footer p{
    color: white;
}
.network{
    color: rgb(43, 33, 33);
}