body{
    font-family: 'Poppins', sans-serif;  
    margin: 0;
}
h1{
    font-size: 30px;
}
.orange-color{
    color: orange;
}

/* Navbar design

.navigation-bar{
    margin: 0;
}
*/
.navbar{
    background-color: hsl(16, 80%, 47%);
    margin: 0;
    display: flex;
}
.nav-logo{
    width: 20%;
    
}
.nav-logo h3{
    padding-left: 10px;
}
.nav-logo img{
width: 20%;
height: 60px;
margin-left: 40px;
margin-top:15px;
padding: 10px;
border: 1px solid black;
border-radius: 50%;
}
.navbar-menu{
    width: 60%;
    
    padding-top: 80px;
}
.navbar-menu a{
    text-decoration: none;
    color: black;
    margin-right: 50px;
    font-size: 20px;
}
.navbar-menu a:hover{
    color: white;
}

/* navbar-icon design starts */
.navbar-icon p{
    padding-top: 10px;
    font-size: 20px;
}
.fa{
    padding: 10px;
    font-size: 20px;
    width: 8%;
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    border-radius: 50%;
}
.fa:hover{
    color: skyblue;
}
.fa-facebook{
    background: blue;
    color: white;
}
.fa-youtube{
    background: red;
    color: white;
}
.fa-instagram{
    background: #125688;
    color: white;
}
.navbar-icon{
    padding-top:20px;
    width: 20%;
}
/* navbar icon ends
navbar design ends */


.flexible-container{
    display: flex;
    margin-bottom: 50px;
    margin-left: 50px;
    padding-left: 20px;
}
.half-width{
    width:50%;
    margin: auto 10px;
}
#intro-img{
    width:75%;
    padding-left: 5%;
    height:450 px;
    margin: 20px auto;
}
#about-me-img{
    width:50%;
    padding-left: 5%;
    height:450 px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, salmon);
    color: white;
    padding: 10px;
    border-radius: 20px;
}
.about-me-bg{
    background-image: url(images/7.png);
    margin: 0;
}
.my-recipes{
    text-align: center;
    margin: 0 auto;
    width:60%
}

.one-third-width{
    width: 33.33%;
    height: 500px;
    padding: 15px;
    margin-right: 60px;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px rgba(206, 197, 197, 0.856);
    border-radius: 20px;
}
.one-third-width img{
    display:table;
    width: 100%;
}
footer{
    background-color: black;
    text-align: center;
    height: 150px;
    margin-top: 100px;
    padding-top:50px
    
}
footer p{
    color: white;
}
.network{
    color: rgb(43, 33, 33);
}